<!-- <h1>Table Using Json</h1>
<hr>

<table id="users">
  <tr>
    <th *ngFor="let col of columns">
      {{col}}
    </th>
  </tr>
  <tr *ngFor="let user of users">
    <td *ngFor="let col of index">
      {{user[col]}}
    </td>
  </tr>

</table> -->

<h1>Nested Table</h1>
<table id="users">
  <thead>
    <tr>
      <th>Subject</th>
      <th>ID</th>
      <th>Name</th>
      <th>Grade</th>
      <th>Class</th>
      <th>Department</th>
      <th>University</th>
      <th>Batch</th>
    </tr>
  </thead>
  <tbody>

    <ng-container *ngFor="let item of users">
      <tr>
        <td><span class="expandChildTable" (click)="item.details = !item.details"></span></td>
        <td (click)="openDialog()" style="color: blue;cursor:pointer">{{item.id}}</td>
        <td>{{ item.name}}</td>
        <td>{{ item.grade}}</td>
        <td>{{ item.classs}}</td>
        <td>{{ item.department}}</td>
        <td>{{ item.uni}}</td>
        <td>{{ item.batch}}</td>

      </tr>
      <tr class="childTableRow" *ngIf="item.details">
        <td colspan="3">
          <h2>Subject Details</h2>
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Credit Hours</th>
                <th>Lecturer</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let a of item.subjects">
                <td>{{a.id}}</td>
                <td>{{a.name}}</td>
                <td>{{a.creditHours}}</td>
                <td>{{a.lecturer}}</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
<!-- ng-template ng-content -->
<!-- ng-container allows us to create a division or section in a template without introducing a new HTML element. -->